.brands {
  padding-top: 35px;
  padding-bottom: 20px;

  &__title {
    margin: 0 0 15px;
    padding: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.67;
    text-align: center;
    color: #1c1c1c;
  }
  &__link {
    position: relative;
    margin: 0;
    padding: 2px 3px 5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #1c1c1c;
    text-decoration: none;
  }
  &__link::after {
    position: absolute;
    bottom: 0;
    content: '';
    border-bottom: 2px solid #6f2cff;
    display: block;
    width: 100%;
  }
}
