@import './base/normalize';
@import './utils/vars';
@import './utils/placeholders';
@import './components/header/header';
@import './components/header/reg-buttons';
@import './components/header/log-btn';
@import './components/hero/hero-section';
@import './components/hero/hero-content';
@import './components/hero/hero-form';
@import './components/brands/brands';
@import './components/brands/brands-list';

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #757575;
}
