.hero__prescribe {
  margin: 0 0 20px 0;
  padding: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.4;
  color: #000000;
}
.hero__title {
  margin: 0;
  padding: 0;
  max-width: 470px;
  width: 100%;
  font-weight: 700;
  font-size: 54px;
  line-height: 1.13;
  color: #000000;
}
.hero__sub-title {
  display: block;
  margin-bottom: 35px;
  font-weight: 700;
  font-size: 54px;
  line-height: 1;
  color: #6f2dff;
}
.hero__postscribe {
  margin: 0;
  padding: 0;
  max-width: 440px;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  color: #000000;
}
