.header {
  .container {
    display: flex;
    align-items: center;
  }
}
.logo {
  margin-right: 137px;
}
.pages {
  @extend %list;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 42px;
  margin-right: 107px;
  padding: 0 20px;
}
.pages__link {
  display: block;
  padding: 24px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: #1c1c1c;
  text-decoration: none;
}
